@import '~antd/dist/antd.css';

.App {
    text-align: center;
}

body {
    background: #F5F5F6;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

.operators {
    display: flex;
    align-items: center;
    justify-content: center;
}

.operator {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.7s ease;
    cursor: pointer;
    height: 40px;
    width: 40px;
    /*text-align: center;*/
    background-color: lightgray;
    margin: 5px;
    box-shadow: 0 0 0 #7da7b4;
    font-weight: bold;
    font-size: 15px;
}

.operator:hover {
    box-shadow: 0 0 10px #7da7b4;
    background-color: #40a9ff;
}

.answer {
    height: 80px;
}